/**
 * #### ##    ## ######## ########   #######  
 *  ##  ###   ##    ##    ##     ## ##     ## 
 *  ##  ####  ##    ##    ##     ## ##     ## 
 *  ##  ## ## ##    ##    ########  ##     ## 
 *  ##  ##  ####    ##    ##   ##   ##     ## 
 *  ##  ##   ###    ##    ##    ##  ##     ## 
 * #### ##    ##    ##    ##     ##  #######  
 */

body[data-tags~=".introduction"] {
    margin: initial;
    width: 100vw;
}

body[data-tags~=".introduction"] #passages {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;

    padding: 0;

    background-color: black;
}

body[data-tags~=".introduction"] #storyTabs,
body[data-tags~=".introduction"] #chapterheader,
body[data-tags~=".introduction"] #wrapperBottomText {
    display: none;
}

