@font-face {
    font-family: "Blackslash";
    src: url("../fonts/Backslash-RpJol.otf") format("otf");
    font-family: "LeahFantasyFont";
    src: url("../fonts/LeahFantasyFont.ttf") format("ttf");
    font-family: "Seaweed";
    src: url("../fonts/Seaweed.ttf") format("ttf");
}

:root {
    --body-text: hsl(0, 0%, 93%);
    --chapter-text-transition: opacity 0.35s;
    --link-text: hsl(223, 64%, 63%);
    --warning-color: hsl(0, 39%, 51%);
    --tabTransition: font-size 0.35s, opacity 0.35s, visibility 0.35s;
    --boxShadow: 0 2px 8px rgb(0 0 0 / 50%);

    --background: hsl(0, 0%, 10%);
    --backgroundplus1: hsl(0, 0%, 15%);

    --tooltip-background-color: hsla(0, 0%, 13%, 0.95);
}

/**  
 *  ######   ######  ########   #######  ##       ##       ########     ###    ########  
 * ##    ## ##    ## ##     ## ##     ## ##       ##       ##     ##   ## ##   ##     ## 
 * ##       ##       ##     ## ##     ## ##       ##       ##     ##  ##   ##  ##     ## 
 *  ######  ##       ########  ##     ## ##       ##       ########  ##     ## ########  
 *       ## ##       ##   ##   ##     ## ##       ##       ##     ## ######### ##   ##   
 * ##    ## ##    ## ##    ##  ##     ## ##       ##       ##     ## ##     ## ##    ##  
 *  ######   ######  ##     ##  #######  ######## ######## ########  ##     ## ##     ##  
 */

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: transparent;
    transition: background 100ms ease;
}

::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: content-box;
    border-radius: 12px;
    box-shadow: inset 0 0 0 10px hsla(0, 0%, 35%, 0.6);
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/**
 * ##     ## ####  ######   ######      
 * ###   ###  ##  ##    ## ##    ##     
 * #### ####  ##  ##       ##           
 * ## ### ##  ##   ######  ##           
 * ##     ##  ##        ## ##           
 * ##     ##  ##  ##    ## ##    ## ### 
 * ##     ## ####  ######   ######  ### 
 */

html {
    background-color: rgb(50, 50, 50);
}

body {
    color: rgb(255, 255, 255);
    /* background-color: hsla(0, 0%, 0%, 0); */ /* Overwrites default SC css. */

    /* height: min(calc(100% - 2rem), 80%); */
    width: 65vw;

    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: 6vw;

    box-shadow: var(--boxShadow);
    border-radius: 20px;

    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

h3 {
    display: inline;

    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    display: inline;

    margin-bottom: 0.5rem;
}

h5 {
    display: inline;

    text-indent: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

ul {
    margin-block-start: 0.45rem;
    margin-block-end: 0.45rem;
}

input[type="text"] {
    min-width: min(14em, 20vw);
    max-width: 100%;
}

button {
    box-shadow: var(--boxShadow);
    border-radius: 8px;
}

select {
    box-shadow: var(--boxShadow);
    border-radius: 2px;
}

tuttext {
    color: lightblue;
    font-style: italic;
}

resource {
    padding: 0.2rem 0.7rem;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0 hsla(0, 0%, 0%, 0.3);
    margin-left: 1rem;

    text-align: right;
    font-size: 1.2rem;
    color: lightblue;
    background-color: var(--middle);
}

self {
    font-style: italic;
    color: hsl(0, 0%, 75%);
}

tp {
    color: hsla(200, 100%, 75%, 0.85);
}

tpi {
    font-style: italic;
    color: hsla(200, 100%, 75%, 0.85);
}

.redbutton {
    background-color: darkred;
    border-color: darkred;
}

.redbutton:hover {
    background-color: red;
    border-color: red;
}

.hidden {
    display: none;
}

.buttonlistofgirls {
    /* TODO: Make this pretty and have a magnifying glass or something. */
    background: brown;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 12px;
}

.display-none {
    display: none;
}

.shade-text-to-link {
    background-image: linear-gradient(120deg, var(--body-text), var(--link-text));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.shade-text-to-link:hover {
    text-decoration: underline;
}

/**
 * #### ##    ## ########  #######      ######   ######  ########  ######## ######## ##    ## 
 *  ##  ###   ## ##       ##     ##    ##    ## ##    ## ##     ## ##       ##       ###   ## 
 *  ##  ####  ## ##       ##     ##    ##       ##       ##     ## ##       ##       ####  ## 
 *  ##  ## ## ## ######   ##     ##     ######  ##       ########  ######   ######   ## ## ## 
 *  ##  ##  #### ##       ##     ##          ## ##       ##   ##   ##       ##       ##  #### 
 *  ##  ##   ### ##       ##     ##    ##    ## ##    ## ##    ##  ##       ##       ##   ### 
 * #### ##    ## ##        #######      ######   ######  ##     ## ######## ######## ##    ## 
 */

#infoScreen {
    display: block;
    position: fixed;

    left: -5vw;
    top: 0;

    height: 100vh;
    width: 20vw;

    /* padding-top: calc(5vh + 1rem); */
    padding-left: calc(5vw + 1rem);
    /* padding-bottom: calc(5vh + 1rem); */
    padding-right: 1rem;

    background-color: var(--background);

    box-shadow: var(--boxShadow);

    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

#infoScreenAttacks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

body.stowed {
    width: unset;
    margin-left: 10vw;
    margin-right: 10vw;
}

#infoScreen.stowed {
    display: none;
}

#infoScreenTitle {
    display: block;

    padding: 1rem 0;

    color: rgb(80, 80, 80);
    font-size: 2.5rem;
    font-family: backslash;

    transition: var(--chapter-text-transition);

    text-align: center;
    line-height: 3rem;
}

#infoScreenDescription {
    /* display: block; */
    display: none;

    padding: 1rem;

    border: 1px solid hsl(312deg 74% 16% / 0%);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    background-color: hsl(0, 0%, 40%);
}

#AttackInformationPlate,
#CombatantInformationPlate,
#EquippableInformationPlate {
    display: block;
    padding: 1rem;
    width: 21vw;

    line-height: 1.5;

    border: 1px solid hsl(312deg 74% 16% / 0%);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    background-color: hsl(0, 0%, 5%);
}

#infoName {
    display: inline;

    /* font-weight: 600; */
    font-weight: bold;
    overflow: auto;
    word-break: break-all;
    text-overflow: unset;
    white-space: normal;
    vertical-align: top;
}

#infoVariant {
    display: block;
    font-size: 0.6em;
    font-weight: 700;
    color: grey;
    padding-top: 2px;
    outline: 0;
    text-align: right;
    margin-top: -1.4rem; /* TODO: negative margin */
}

#infoMetrics,
#infoResistances,
#infoTargeting,
#infoDamage {
    padding-top: 8px;
}

#infoScreenDescription grid {
    display: grid;
    margin-left: -8px;

    column-gap: 0.5rem;
    row-gap: 0.05rem;
    font-size: 0.95rem;

    padding-bottom: 8px;
}

#infoMetricsGrid {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 0.5em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    font-size: 0.9em;
    line-height: 1.25;
}

#infoMetricsGrid #infoHealth {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.infoMax {
    font-size: 0.7em;
    color: hsl(0, 0%, 40%);
}

.infoNYI {
    font-size: 0.8em;
    font-style: italic;
    color: hsl(39, 100%, 50%);
}

#infoDamageTotal {
    grid-column-start: 1;
    grid-column-end: 3;
}

#infoDamageHitNumber {
    grid-column-start: 3;
    grid-column-end: 4;
}

#infoMetricsGrid #infoInit {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}

#infoInitVariance {
    font-size: 0.8em;
    color: hsl(0, 0%, 40%);
}

#infoAttackDescription {
    display: block;
    font-size: 0.9em;
    color: hsl(0, 0%, 60%);
}

#infoDeflect {
    grid-row: 2;
    grid-column: 1;
}

#infoBlock {
    grid-row: 2;
    grid-column: 2;
}

#infoCrit {
    grid-row: 2;
    grid-column: 3;
}

#infoDirect {
    grid-row: 2;
    grid-column: 4;
}

#infoInit,
#infoBlock,
#infoDeflect,
#infoCrit,
#infoDirect {
    text-align: center;
}

#infoResistanceGrid,
#infoAbsorbtionGrid,
#infoDamageGrid {
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    font-size: 0.7em;
    grid-auto-flow: column;
    grid-gap: 0.5em;

    padding-bottom: 1em;

    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}

#infoDamageGrid {
    grid-template-rows: auto auto auto auto auto;
}

#infoMetricsAttacksGrid {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 0.5em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    font-size: 0.9em;
    line-height: 1.25;
    text-align: center;
}

#infoBuffs {
    font-size: 0.7em;
    text-align: center;
    display: block;
}

#infoMetricsAttacksGrid #infoWDM {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#infoMetricsAttacksGrid #init {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}

#infoMetricsAttacksGrid #infoDirect {
    grid-column: 1;
}

#infoMetricsAttacksGrid #infoCrit {
    grid-column: 2;
}

#infoMetricsAttacksGrid #infoTargets {
    font-size: 0.9em;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

#infoTargetingGrid {
    /* */
}

.divider {
    display: block;
    position: sticky;

    top: 0;
    height: 1px;

    margin-top: 6px;
    margin-bottom: 2px;

    background-color: hsla(0, 0%, 75%, 0.5);
}

.infoSectionHeader {
    display: block;

    /* font-weight: 700; */
    font-weight: bold;

    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
}

#infoScreenMiddleMenuButtons {
    display: block;
    position: fixed;
    width: 20vw;

    padding-bottom: 5vh;
}

#infoScreenBottomMenuButtons {
    display: block;
    position: fixed;
    width: 20vw;
    bottom: 0;

    padding-bottom: 5vh;
}

.bottomInfoButton {
    display: block;
    width: 100%;
    margin: 0.35rem 0;
}

.equippableInfoScreen {
    display: block;

    margin-top: 0.5rem;
}

.equippableInfoScreen button {
    width: 30%;
    font-size: 1rem;
}

#weaponInfoScreenButtons,
#armorInfoScreenButtons,
#accessoryInfoScreenButtons {
    display: block;

    margin-top: 0.5rem;
}

#ui-dialog-body.dialogEquipmentSwap,
#ui-dialog-body.dialogEquipmentMod {
    display: grid;
    grid-template-rows: auto auto 5fr;
    grid-template-columns: 23vw 23vw;
    grid-gap: 1rem;
    /* width: 60vw; */
    height: 80vh;
    justify-content: space-between;
    align-items: start;

    overflow-x: hidden;
}

.dialogEquipmentSwap .macro-listbox,
.dialogEquipmentMod .macro-listbox {
    grid-row: 1;
    height: 20vh;

    cursor: default;
}

.dialogEquipmentSwap .macro-listbox option:hover {
    background-color: hsl(0, 0%, 40%);
    cursor: pointer;
}

.dialogEquipmentSwap #attackButtons {
    grid-row: 2;
}

.dialogEquipmentSwap #attackInfoDescription {
    grid-row: 3;
}

.dialogEquipmentSwap #equipmentCharacterStats {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#ui-dialog button {
    /* This stops buttons from flickering when appending HTML to anything inside a Dialog. */
    transition-duration: initial;
    -o-transition-duration: initial;
    -webkit-transition-duration: initial;
}

/**
 *    ###     ######   ######   #######  ########  ########  ####  #######  ##    ## 
 *   ## ##   ##    ## ##    ## ##     ## ##     ## ##     ##  ##  ##     ## ###   ## 
 *  ##   ##  ##       ##       ##     ## ##     ## ##     ##  ##  ##     ## ####  ## 
 * ##     ## ##       ##       ##     ## ########  ##     ##  ##  ##     ## ## ## ## 
 * ######### ##       ##       ##     ## ##   ##   ##     ##  ##  ##     ## ##  #### 
 * ##     ## ##    ## ##    ## ##     ## ##    ##  ##     ##  ##  ##     ## ##   ### 
 * ##     ##  ######   ######   #######  ##     ## ########  ####  #######  ##    ## 
 */

accordionSection {
    margin-bottom: 3rem;
}

.accordionLabel {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    background: #b61818;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    box-shadow: var(--boxShadow);
    border-radius: 20px;

    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

.accordionLabel::after {
    content: "\002B";
    padding: 0.5rem;
    transform: scale(1.8);
    text-align: center;
    transition: all 0.35s;
}

accordionContent {
    max-height: 0;
    padding: 0 0.5rem 0.5rem;
    transition: all 0.35s;
    display: none;
}

accordionSection input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input:checked + .accordionLabel {
    background: #8f1414;
}

input:checked + .accordionLabel::after {
    content: "\2013";
    transform: scale(1.5);
}

input:checked ~ accordionContent {
    max-height: 100vh;
    padding: 0.5rem 0.75rem;
    display: block;
    transition: all 0.35s;
}

/**
 * ##     ## ####  
 * ##     ##  ##   
 * ##     ##  ##   
 * ##     ##  ##   
 * ##     ##  ##   
 * ##     ##  ##   
 *  #######  ####  
 *
 * Including (former) UIBar contents.
 */

.knowledge {
    display: block;

    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: -1.25rem;

    line-height: 1.5rem;
    font-weight: bold;
    text-decoration: white underline;
}

.subknowledge {
    display: block;

    margin-left: 2rem;
    margin-bottom: -1.25rem;

    text-decoration: underline;
}

#menu-core li[id|="menu-item"] a:before,
#debug-bar-toggle:before,
#ui-bar-history [id|="history"],
#ui-bar-toggle:before {
    /* Makes the Font Awesome icons not bold. Only needed until next SugarCube update. */
    font-weight: 400;
}

.dialog-header {
    display: block;

    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
    margin-left: 0;
    margin-right: 0;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline 2px;
}

#ui-dialog {
    max-width: 68vw;
}

#mainwrapper {
    margin-left: auto;
    margin-right: auto;

    box-shadow: var(--boxShadow);
    border-radius: 20px;

    background-color: rgb(40, 40, 40);
}

#wrapperBottomText {
    padding: 3rem;
    color: hsl(0deg 0% 65%);
}

#passages {
    margin-left: auto;
    margin-right: auto;

    /* margin-top: 2rem; */
    background-color: var(--background);
    /* box-shadow:var(--boxShadow); */
    border-radius: 20px;
    padding: 1.5rem 2rem;
}

#databaseInfoTab {
    position: fixed;
    right: 22vw;
    top: -1rem;

    padding: 1.25rem 0.75rem 0rem;

    background-color: hsl(0, 0%, 15%);
    box-shadow: var(--boxShadow);
    border-radius: 12px;

    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    text-align: center;
}

#storyTabs ul {
    position: fixed;
    width: 1px;

    right: -1rem;
    top: 3rem;

    list-style-type: none;
}

#storyTabs li {
    float: right;
    padding: 1rem 1.25rem 1rem 0.75rem;

    background-color: hsl(0, 0%, 15%);
    box-shadow: var(--boxShadow);
    border-radius: 20px;

    margin-top: 1rem;
    margin-left: 50vw;

    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    text-align: center;

    white-space: nowrap;
    cursor: pointer;
}

#storyTabs li:after {
    opacity: 0;
    visibility: hidden;
    font-size: 0vw;
    content: " ";

    transition: var(--tabTransition);
}

#storyTabs li:hover:after {
    opacity: 1;
    visibility: visible;
    font-size: inherit;

    transition: var(--tabTransition);
}

#storyTabs li#knowledgeTab:after {
    content: " Knowledge";
}

#storyTabs li#peopleTab:after {
    content: " People";
}

#storyTabs li#settingsTab:after {
    content: " Settings";
}

#storyTabs li#disableContentsTab:after {
    content: " Disable Content";
}

#storyTabs li#savesTab:after {
    content: " Saves";
}

#storyTabs li#restartTab:after {
    content: " Restart";
}

#storyTabs li#creditsTab:after {
    content: " Credits";
}

#storyTabs li#stowTab:after {
    content: " Stow";
}

#storyTabs li#devTab {
    background-color: red;
}

#storyTabs li#devTab:after {
    content: " Dev Menu";
}

#debug-bar-hint {
    display: none;
}

.itemPlate {
    display: block;
    width: 18vw;
    /* height: 15vh; */

    padding: 0.5rem 1rem;
    border: 1px solid hsl(312deg 74% 16% / 0%);
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    background-color: var(--backgroundplus1);
}

/**
 *  ######   #######  ##     ## ########     ###    ######## 
 * ##    ## ##     ## ###   ### ##     ##   ## ##      ##    
 * ##       ##     ## #### #### ##     ##  ##   ##     ##    
 * ##       ##     ## ## ### ## ########  ##     ##    ##    
 * ##       ##     ## ##     ## ##     ## #########    ##    
 * ##    ## ##     ## ##     ## ##     ## ##     ##    ##    
 *  ######   #######  ##     ## ########  ##     ##    ##    
 */

.initBar {
    margin: auto;
    /* width: 10em; */
}

.macro-disable,
#macro-disable {
    border: none;
}

#MainCombatGrid {
    display: grid;
    grid-template-columns: 31fr 50fr; /* approximate φ */
    grid-template-rows: 1fr 2fr 3fr;

    height: 95vh;
}

#MainCombatGrid #enemyZone {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 1em;
    column-gap: 2em;

    margin-bottom: 2em;
    padding: 4px 12px 8px;
    border: 1px solid hsl(312deg 74% 16% / 0%);
    border-radius: 8px;
    /* box-shadow: var(--boxShadow); */
    background-color: var(--background);

    justify-items: center;
    grid-auto-flow: dense;
}

#MainCombatGrid #playerZone {
    grid-column: 2;
    grid-row: 2;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 1rem;
    column-gap: 1rem;

    margin-top: 1rem;
    padding: 4px 12px 8px;
    border: 1px solid hsl(312deg 74% 16% / 0%);
    border-radius: 8px;
    /* box-shadow: var(--boxShadow); */
    background-color: var(--background);

    justify-items: center;
    grid-auto-flow: dense;
}

#MainCombatGrid #combatNotifications {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;

    border-radius: 1rem;
    border: 1px solid white;
    padding: 1em;
    margin: 1em;

    box-shadow: var(--boxShadow);
    background-color: var(--background);

    overflow: scroll;
}

#MainCombatGrid #targetsZone {
    grid-column: 2;
    grid-row: 3;

    grid-template-columns: 1fr;
    grid-template-rows: 18% 70%;

    display: grid;

    margin: 1rem;
    padding: 4px 12px 8px;
    /* border: 1px solid hsl(312deg 74% 16% / 0%); */
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    background-color: var(--background);

    justify-items: center;
}

#targetsZone #playerAttacks {
    display: grid;

    width: 100%;
    margin: 1rem;

    background: var(--background);
    grid-gap: 1px;

    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

#targetsZone #playerAttacks.target-attacks {
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#targetsZone #playerAttacks.target-self,
#targetsZone #playerAttacks.target-all {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    font-size: 2rem;
}

#targetsZone #playerAttacks.target-side {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;

    font-size: 1.5rem;
}

#targetsZone #playerAttacks.target-row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 0.5rem;

    font-size: 1.25rem;
}

#targetsZone #playerAttacks.target-single {
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 1fr 1fr 0.2fr 1fr 1fr;
}

#targetsZone #playerAttacks.target-single .enemyD {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

#targetsZone #playerAttacks.target-single .enemyE {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
}

#targetsZone #playerAttacks.target-single .enemyA,
#targetsZone #playerAttacks.target-single .enemyB,
#targetsZone #playerAttacks.target-single .enemyC {
    grid-column: span 2;
    grid-row: 2;
}

#targetsZone #playerAttacks.target-single .playerA,
#targetsZone #playerAttacks.target-single .playerB {
    grid-column: span 3;
    grid-row: 4;
}

#targetsZone #playerAttacks.target-single .playerC,
#targetsZone #playerAttacks.target-single .playerD {
    grid-column: span 3;
    grid-row: 5;
}

#playerAttacks .playerAttack {
    border: none;
    background-color: var(--background);
    box-shadow: none;
    border-radius: 0;

    font-size: 1.05rem;

    padding: 0.2em;

    width: 100%;
    height: 100%;
}

#playerAttacks .playerAttack:hover {
    border: none;
    background-color: var(--backgroundplus1);
}

.playerAttack.disabled,
.disabled {
    cursor: not-allowed !important;
    background-color: #444;
    border: 1px solid #666;
}

.playerAttack.disabled:hover,
.disabled:hover {
    cursor: not-allowed !important;
    background-color: #444;
    border: 1px solid #666;
}

#MainCombatGrid #targetsZone #backForward {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: -1;

    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
}

#enemyZone [data-name="/if"] {
    /* This hides the SugarCube debug information on the combat 
    screen, which makes it look nice in debug mode. */
    display: none;
}

#notifArea {
    grid-column: 1 / span 3;
    text-align: center;

    width: 100%;

    font-size: 1.5em;
    border: 1px solid hsl(312deg 74% 16% / 0%);
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    background-color: var(--backgroundplus1);
}

#enemyZone span[title="<<if _ep[0]>>"],
#enemyZone griditem#gitemA {
    grid-row: 2;
    grid-column: 1 / span 2;
}

#enemyZone span[title="<<if _ep[1]>>"],
#enemyZone griditem#gitemB {
    grid-row: 2;
    grid-column: 3 / span 2;
}

#enemyZone span[title="<<if _ep[2]>>"],
#enemyZone griditem#gitemC {
    grid-row: 2;
    grid-column: 5 / span 2;
}

#enemyZone span[title="<<if _ep[3]>>"],
#enemyZone griditem#gitemD {
    grid-row: 1;
    grid-column: 2 / span 2;
}

#enemyZone span[title="<<if _ep[4]>>"],
#enemyZone griditem#gitemE {
    grid-row: 1;
    grid-column: 4 / span 2;
}

#flash-notifs-here {
    /* For easy offsets of flash messages. */
    position: absolute;
    top: 0;
    left: 0;
}

.flash-container {
    position: absolute;
}

.flash-container .flash-message {
    position: absolute;
    font-size: 1.2em;
    background-color: transparent;
    text-shadow: 1px 1px 3px black;
    line-height: 0;
}

.flash-container .flash-message.block-theme {
    color: blue;
}

.flash-container .flash-message.deflect-theme {
    color: grey;
}

.flash-container .flash-message.damage-theme {
    color: red;
}

.flash-container .flash-message.critical-theme {
    color: yellow;
}

.flash-container .flash-message.direct-theme {
    color: turquoise;
}

.flash-container .flash-message.damage-theme,
.flash-container .flash-message.direct-theme,
.flash-container .flash-message.critical-theme {
    transition: opacity 0.5s;
}

/**
 * ########  ####    ###    ##        #######   ######   
 * ##     ##  ##    ## ##   ##       ##     ## ##    ##  
 * ##     ##  ##   ##   ##  ##       ##     ## ##        
 * ##     ##  ##  ##     ## ##       ##     ## ##   #### 
 * ##     ##  ##  ######### ##       ##     ## ##    ##  
 * ##     ##  ##  ##     ## ##       ##     ## ##    ##  
 * ########  #### ##     ## ########  #######   ######   
 */

#ui-overlay.open {
    opacity: 0.75;
}

#ui-dialog-titlebar {
    border-radius: 20px 20px 0 0;
}

#ui-dialog-title {
    font-family: Helmet, Freesans, sans-serif;
    text-transform: initial;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline 2px;
    padding: 0.4rem 0;
}

#ui-dialog-body {
    border-radius: 0 0 20px 20px;
    border: none;

    padding-left: 2rem;
    padding-right: 2rem;

    line-height: 1.25;

    box-shadow: var(--boxShadow);
    background-color: rgb(25, 25, 25);
}

#ui-dialog-close {
    width: 2.6rem;
    border-top-right-radius: 20px;
}

#ui-dialog-body ul.buttons {
    text-align: right;
}

#ui-dialog-body.saves td {
    padding: 0.5vh 3vw;
}

/**
 * #### ##     ##    ###     ######   ########  ######  
 *  ##  ###   ###   ## ##   ##    ##  ##       ##    ## 
 *  ##  #### ####  ##   ##  ##        ##       ##       
 *  ##  ## ### ## ##     ## ##   #### ######    ######  
 *  ##  ##     ## ######### ##    ##  ##             ## 
 *  ##  ##     ## ##     ## ##    ##  ##       ##    ## 
 * #### ##     ## ##     ##  ######   ########  ######  
 */

img {
    border-radius: 8px;

    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

imghori {
    display: flex;
    overflow: hidden;

    max-height: 45vh;
    max-width: 65vw;
    width: max-content;

    margin: 1rem auto;
    padding: 0.45rem;

    border: 1px solid black;
    border-radius: 8px;
    box-shadow: inset 0 0 0 10px hsl(0deg 0% 35% / 60%);
}

imgverti {
    display: flex;
    overflow: hidden;

    margin: auto 1rem;

    max-height: 40vh;
    width: max-content;
    max-width: 35vw;
    width: max-content;

    padding: 0.45rem;

    border: 1px solid black;
    border-radius: 8px;
    box-shadow: inset 0 0 0 10px hsl(0deg 0% 35% / 60%);
}

.blurred {
    filter: blur(2vw) grayscale(20%) brightness(80%);
    -webkit-filter: blur(2vw) grayscale(20%) brightness(80%);
}

/** 
 *  ######   ########  #### ########   ######  
 * ##    ##  ##     ##  ##  ##     ## ##    ## 
 * ##        ##     ##  ##  ##     ## ##       
 * ##   #### ########   ##  ##     ##  ######  
 * ##    ##  ##   ##    ##  ##     ##       ## 
 * ##    ##  ##    ##   ##  ##     ## ##    ## 
 *  ######   ##     ## #### ########   ######  
 *
 * But not including combat grids.
 */

gridcontainer {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    --columns: 3; /* Max number of columns in grid */
    grid-template-columns: repeat(auto-fill, minmax(max(200px, 96% / var(--columns)), 1fr));

    margin-top: 1rem;
    padding: 4px 12px 8px;
    border: 1px solid hsl(312deg 74% 16% / 0%);
    border-radius: 8px;
    /* box-shadow: var(--boxShadow); */
    background-color: var(--background);
}

gridcontainer#charSelect {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

gridcontainer#charSelect2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

gridcontainer.col1 {
    grid-template-columns: initial;
}

gridcontainer.col2 {
    grid-template-columns: max-content max-content;
}

gridcontainer h2 {
    grid-column: 1/-1;

    border-radius: 8px;
    box-shadow: var(--boxShadow);
    margin: 0 10vw -0.5rem;

    text-align: center;
    color: var(--backgroundplus1);
    background-image: var(--middletodarkgradiant);
}

gridcontainer a,
gridcontainer not-a {
    padding: 1rem 1.5rem 1.5rem;
    border: 1px solid hsl(312deg 74% 16% / 0%);
    border-radius: 8px;
    box-shadow: var(--boxShadow);

    text-align: left;
    text-decoration: none;
    color: var(--link-text);

    transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);

    /* Gradiant Transition Hack Stuff */
    position: relative;

    z-index: 1;
    background: var(--background);
}

gridcontainer a::before,
gridcontainer not-a::before {
    /* Gradiant Transition Hack Stuff */
    position: absolute;

    content: "";
    opacity: 0;
    z-index: -1;

    border-radius: 8px;

    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

    background: var(--middletodarkgradiant);

    transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);
}

gridcontainer a:hover,
gridcontainer not-a:hover {
    border-radius: 8px;
    box-shadow: 8px 8px 24px 0 var(--middle);

    color: hsl(0, 0%, 90%);
}

gridcontainer a:hover::before,
gridcontainer not-a::before {
    /* Gradiant Transition Hack Stuff */
    opacity: 1;
}

gridwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 1rem;
}

gridhelper {
    justify-self: flex-end;

    padding: 0.2rem 0.7rem;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0 hsla(0, 0%, 0%, 0.3);

    text-align: right;
    font-size: 0.9rem;
    color: var(--backgroundplus1);
    background-color: var(--middle);

    transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);
}

imgcont {
    height: 8vh;
    width: 8vh;
}

gridcontainer a img,
gridcontainer not-a img {
    justify-self: flex-start;

    background-size: cover;

    filter: brightness(0) saturate(100%) invert(54%) sepia(39%) saturate(1555%) hue-rotate(199deg) brightness(91%)
        contrast(90%);
}

gridcontainer a:hover img {
    filter: invert(98%) sepia(2%) saturate(1971%) hue-rotate(204deg) brightness(114%) contrast(80%);
}

griditem.notalink {
    color: #8b0000;
}

griditem.notalink img {
    justify-self: flex-start;

    background-size: cover;
    /* Update with better color. */
    filter: invert(10%) sepia(92%) saturate(4354%) hue-rotate(357deg) brightness(83%) contrast(113%);
}

not-a:hover griditem.notalink img {
    filter: invert(10%) sepia(92%) saturate(4354%) hue-rotate(357deg) brightness(83%) contrast(113%);
}

gridtitle {
    display: block;

    margin-bottom: 0.2rem;

    font-size: 1.3rem;
    font-weight: bold;
}

griddescript {
    font-size: 1.1rem;
}

griditem.col2 {
    grid-column-end: span 2;
}

griditem.row2 {
    grid-row-end: span 2;
}

/**
 *  ######   #######  ##    ## ######## ######## ##    ## ######## 
 * ##    ## ##     ## ###   ##    ##    ##       ###   ##    ##    
 * ##       ##     ## ####  ##    ##    ##       ####  ##    ##    
 * ##       ##     ## ## ## ##    ##    ######   ## ## ##    ##    
 * ##       ##     ## ##  ####    ##    ##       ##  ####    ##    
 * ##    ## ##     ## ##   ###    ##    ##       ##   ###    ##    
 *  ######   #######  ##    ##    ##    ######## ##    ##    ##    
 * 
 * ########  ####  ######     ###    ########  ##       ########   
 * ##     ##  ##  ##    ##   ## ##   ##     ## ##       ##         
 * ##     ##  ##  ##        ##   ##  ##     ## ##       ##         
 * ##     ##  ##   ######  ##     ## ########  ##       ######     
 * ##     ##  ##        ## ######### ##     ## ##       ##         
 * ##     ##  ##  ##    ## ##     ## ##     ## ##       ##         
 * ########  ####  ######  ##     ## ########  ######## ########  
 */

.contentdisabletitle {
    padding-left: 1rem;

    font-size: 1.1rem;
    text-decoration: underline solid 2px;
}

.subtext {
    color: hsl(0, 0%, 50%);

    font-size: 0.9rem;
    vertical-align: middle;
    text-align: justify;
}

.notice {
    font-size: 0.7rem;
    vertical-align: middle;
}

.cont-disabled {
    display: none;
}

.warning {
    color: var(--warning-color);

    font-size: 0.7rem;
    vertical-align: middle;
}

.warning-link {
    color: var(--warning-color);

    font-size: 0.7rem;
    vertical-align: top;
}

.macro-disable {
    text-decoration: line-through var(--warning-color);
    color: var(--warning-color);
}

/**
 * ########   ######   ######         ##     ## ########    ###    ########  ######## ########  
 * ##     ## ##    ## ##    ##        ##     ## ##         ## ##   ##     ## ##       ##     ## 
 * ##     ## ##       ##              ##     ## ##        ##   ##  ##     ## ##       ##     ## 
 * ########   ######  ##   ####       ######### ######   ##     ## ##     ## ######   ########  
 * ##              ## ##    ##        ##     ## ##       ######### ##     ## ##       ##   ##   
 * ##        ##    ## ##    ##        ##     ## ##       ##     ## ##     ## ##       ##    ##  
 * ##         ######   ######         ##     ## ######## ##     ## ########  ######## ##     ##  
 */

#chapterheader {
    display: block;
    position: relative;

    margin-left: auto;
    margin-right: auto;

    /* width: max-content; */

    color: rgb(80, 80, 80);
    font-size: 2.5rem;
    font-family: backslash;

    transition: var(--chapter-text-transition);

    text-align: center;
    line-height: 3rem;
}

#passagetitleheader {
    display: block;
    opacity: 0;

    margin-bottom: 0.7rem;

    color: rgb(70, 70, 70);
    text-align: center;
    line-height: 1.5rem;

    transition: var(--chapter-text-transition);
}

#chapterheader:hover ~ #passagetitleheader {
    opacity: 1;

    transition: var(--chapter-text-transition);
}

#passagetitleheader:before {
    content: "~ ";
}

#passagetitleheader:after {
    content: " ~";
}

/* 
 *  ######  ##     ##  ######  ########  #######  ##     ##    ######## ######## ####  ######  
 * ##    ## ##     ## ##    ##    ##    ##     ## ###   ###       ##       ##    #### ##    ## 
 * ##       ##     ## ##          ##    ##     ## #### ####       ##       ##     ##  ##       
 * ##       ##     ##  ######     ##    ##     ## ## ### ##       ##       ##    ##    ######  
 * ##       ##     ##       ##    ##    ##     ## ##     ##       ##       ##               ## 
 * ##    ## ##     ## ##    ##    ##    ##     ## ##     ##       ##       ##         ##    ## 
 *  ######   #######   ######     ##     #######  ##     ##       ##       ##          ######  
 * 
 * Custom Tooltips for ToolTipster
 */

/* Show that text can be hovered over or clicked to view more information. */
tooltip {
    display: inline-block;

    text-decoration: hsla(0, 0%, 45%, 0.8) underline dashed;

    transition: all 0.3s ease-in-out;
}

tooltip:focus,
tooltip:hover {
    text-decoration: none;

    cursor: pointer;

    transform: translateY(-1px);
}

.tooltip_templates {
    display: none;
}

.tooltipster-sidetip.tooltipster-custom .tooltipster-box {
    border: none;
    background: var(--tooltip-background-color);

    max-width: 45vw;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-bottom .tooltipster-box {
    margin-top: 8px;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-left .tooltipster-box {
    margin-right: 8px;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-right .tooltipster-box {
    margin-left: 8px;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-top .tooltipster-box {
    margin-bottom: 8px;
}

.tooltipster-sidetip.tooltipster-custom .tooltipster-arrow {
    height: 8px;
    margin-left: -8px;
    width: 16px;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-custom.tooltipster-right .tooltipster-arrow {
    height: 16px;
    margin-left: 0;
    margin-top: -8px;
    width: 8px;
}

.tooltipster-sidetip.tooltipster-custom .tooltipster-arrow-background {
    display: none;
}

.tooltipster-sidetip.tooltipster-custom .tooltipster-arrow-border {
    border: 8px solid transparent;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: var(--tooltip-background-color);
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-left .tooltipster-arrow-border {
    border-left-color: var(--tooltip-background-color);
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-right .tooltipster-arrow-border {
    border-right-color: var(--tooltip-background-color);
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-top .tooltipster-arrow-border {
    border-top-color: var(--tooltip-background-color);
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -8px;
}

.tooltipster-sidetip.tooltipster-custom.tooltipster-right .tooltipster-arrow-uncropped {
    left: -8px;
}
